// -----------------------------------------------------------------------------
// This file contains all styles related to the pages of the site/application.
// -----------------------------------------------------------------------------

.page {
    margin: 0 auto;
    padding: 18px;
    max-width: 1200px;

    h1 {
        text-align: center;
    }

    .intro-text {
        max-width: 300px;
        margin: 0 auto;
    }
}