// -----------------------------------------------------------------------------
// This file contains all styles related to the wrapper of the site/application.
// -----------------------------------------------------------------------------

body {
    background-color: $brand-color;
}






