// -----------------------------------------------------------------------------
// This file contains all styles related to the overlay component.
// -----------------------------------------------------------------------------

.overlay {
    opacity: 0;
    position: fixed; 
    width: 95%; 
    height: 98%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.74);
    z-index: 2; 
    margin: auto;
    backdrop-filter: blur(3px);
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;

    .show &{
        display: block;
        opacity: 1;
        pointer-events: visible;

        @include respond-to('medium') {
            display: none;
        }
    }

    .overlay-content {
        position: relative;
        top: 20%;
        left: 10%;
        font-size: 1.8rem;
    }
}